<div class="container d-flex justify-content-center">
    <div class="card p-4 content  ">
        <div >

            <div class="d-flex justify-content-center m-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                    <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
            </div>

            <h1 class="mb-5 text-center">Reset Password</h1>
            <p>Enter your old password and set the new password</p>

            <form (ngSubmit)="onSubmit()" [formGroup]="myForm" #resetPassword="ngForm">

                <div class="form-group mb-3">
                    <label for="old_password" class="form-label">Old password</label>
                    <div class="input-group">
                        <span class="input-group-text">*</span>
                        <input type="password" class="form-control" id="password" placeholder="Password"
                            >
                        <!-- <div class="invalid-feedback">
                    Your email is required.
                    </div> -->
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="password" class="form-label">New password</label>
                    <div class="input-group">
                        <span class="input-group-text">*</span>
                        <input type="password" class="form-control" id="password" placeholder="Password"
                            >
                        <!-- <div class="invalid-feedback">
                    Your email is required.
                    </div> -->
                    </div>
                </div>


                <button type="submit" class="mt-4 btn btn-success btn-lg w-100" [disabled]="!resetPassword.form.valid">Submit</button>
                <!-- <button type="button" class="btn btn-default m-1" (click)="newHero(); heroForm.reset()">New Hero</button> -->
            </form>
        </div>
    </div>
</div>