<mat-dialog-content class="mat-typography">

  <form (ngSubmit)="onSave()" [formGroup]="myForm">
  
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square m-2" viewBox="0 0 16 16">
          <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
          <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
        </svg>
        <span class="fs-4">Note</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <button [disabled]="myForm.invalid" class="me-3 py-2 btn btn-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
          <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
        </svg></button>
        
      </nav>
    </div>
  
    <div class="form-group mb-2">
      <label for="id">ID</label>
      <input type="text" class="form-control" id="id" formControlName="id">
      <div *ngIf="myForm.get('id')?.invalid && myForm.get('id')?.touched"
             class="alert alert-danger m-2">
          Id is required
        </div>
    </div>
    <div class="form-group mb-2">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" formControlName="title">
      <div *ngIf="myForm.get('title')?.invalid && myForm.get('title')?.touched"
             class="alert alert-danger  m-2">
          Title is required
      </div>
    </div>

    <div class="form-group mb-2">
      <label for="note">Note</label>
      <input type="text" class="form-control" id="note" formControlName="note">
      <div *ngIf="myForm.get('note')?.invalid && myForm.get('note')?.touched"
             class="alert alert-danger  m-2">
          Note is required
      </div>
    </div>

    <!-- <div class="form-group mb-2">
      <label for="due_date">Due Date</label>
      <input type="date" class="form-control" id="due_date" formControlName="due_date">
      <div *ngIf="myForm.get('due_date')?.invalid && myForm.get('due_date')?.touched"
             class="alert alert-danger  m-2">
          Due date is required
      </div>
    </div> -->

  
  </form>
</mat-dialog-content>